nav ul li {
    display: inline;  /* Hace que los elementos se muestren en línea */
    margin-right: 15px;


body {
    font-family: Arial, sans-serif; <!- Fuente usada -->
    background-image: url(imagen_wiskas_echado_pasto.jpg); /* Reemplaza con la ruta de tu imagen */
    background-size: cover; /* Hace que la imagen cubra toda la pantalla */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-attachment: fixed; /* Hace que la imagen se mantenga fija al hacer scroll */
    height: 100vh; /* Asegura que el body ocupe toda la altura de la ventana */
    margin: 0;
    padding: 0;


}
footer {
    position: fixed; /* Hace que el footer se quede en la misma posición */
    bottom: 0; /* Lo fija a la parte inferior de la pantalla */
    left: 0;
    width: 100%; /* Se asegura que ocupe todo el ancho de la ventana */
    background-color: #ffffff;
    color: #000000;
    text-align: center;
    padding: 20px;
    z-index: 100; /* Para que se asegure de estar por encima de otros elementos */
}

